/*  header css  */
.toggle-icon-img{
    box-shadow: 2px 3px 3px 3px #C0C0C0;
}
/*  header css end  */
.play-button{
    position: absolute;
    left: 42%;
    top: 47%;
    /* background-color: #b3b3b3; */
    background-color: #64a7ee;
    border-radius: 50%;
    cursor: pointer;
}
.product-img{
    min-height: 500px;
    max-height: 500px;
    object-fit: cover;
}
.tshirt_img{
    margin: 10px 0;
}

.loadMore {
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
    width: 100%;
}
.loadMore a {
    /* background: #63a5ee; */
    /* background: #64a7ee; */
    font-size: larger;
    border: 1px solid #111;
    border-radius: 3px;
    color: black;
    display: inline-block;
    padding: 100px 25px;
    transition: all 0.25s ease-out;
    -webkit-font-smoothing: antialiased;
}
.loadMore a:hover {
    /* background-color: #f26522; */
    background-color: #eee;
}

.loadMoreText {
    margin: 0 5px;
    font-weight: 600;
}

.loadMore i {
    font-weight: 600;
}

.float{
	position:fixed;
	/* width:60px; */
	/* height:60px; */
    padding: 10px 15px;
	bottom:40px;
	right:40px;
	background-color:#64a7ee;
	color:#FFF;
	border-radius:5px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	/* margin-top:22px; */
}
.cursor-pointer{
    cursor: pointer;
}
.border-less-field{
    border:none;
    background-color: transparent !important;
}
.border-less-field:hover{
    border:none;
}

/* Mobile screen styling  */

.mobilesidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.mobilesidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.mobilesidenav a:hover {
    color: #f26522;
}

.mobilesidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.mobile_nav{
    display: none;
}
.logo .menu-link{
 display: none;
}
.banner_taital{
    font-size: 45px;
    text-shadow: #000 1px 1px;
}
@media screen and (max-height: 450px) {
    .mobilesidenav {
        padding-top: 15px;
    }
    .mobilesidenav a {
        font-size: 18px;
    }
}

@media screen and (max-width: 767px) {
    .mobilesidenav {
        z-index: 99;
    }
    .mobile_nav{
        display: block;
    }
    .sidenav {
        display: none;
    }
    .containt_main .toggle_icon{
        display: none;
    }
    .logo .home-link{
        display: none;
    }
    .logo .menu-link{
        display: block;
    }
    .banner_taital{
        font-size: 14px;
        text-shadow: #000 1px 1px;
    }
}

