/*  header css  */
.toggle-icon-img {
    box-shadow: 2px 3px 3px 3px #c0c0c0;
}
/*  header css end  */
.play-button {
    position: absolute;
    left: 42%;
    top: 47%;
    /* background-color: #b3b3b3; */
    background-color: #64a7ee;
    border-radius: 50%;
    cursor: pointer;
}
.product-img {
    min-height: 500px;
    max-height: 500px;
    object-fit: cover;
}
.tshirt_img {
    margin: 10px 0;
}
.prod-video{
    max-width: -webkit-fill-available;
}

.loadMore {
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
    width: 100%;
}
.loadMore a {
    /* background: #63a5ee; */
    /* background: #64a7ee; */
    font-size: larger;
    border: 1px solid #111;
    border-radius: 3px;
    color: black;
    display: inline-block;
    padding: 100px 25px;
    transition: all 0.25s ease-out;
    -webkit-font-smoothing: antialiased;
}
.loadMore a:hover {
    /* background-color: #f26522; */
    background-color: #eee;
}

.loadMoreText {
    margin: 0 5px;
    font-weight: 600;
}

.loadMore i {
    font-weight: 600;
    
}
.loadMore .icon-shadow{
    background-color: #0ff;
    box-shadow: 2px 8px 14px 10px #0ff;
}

.float {
    position: fixed;
    /* width:60px; */
    /* height:60px; */
    padding: 10px 15px;
    bottom: 40px;
    right: 40px;
    background-color: #64a7ee;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}

.my-float {
    /* margin-top:22px; */
}
.cursor-pointer {
    cursor: pointer;
}
.border-less-field {
    border: none;
    background-color: transparent !important;
}
.border-less-field:hover {
    border: none;
}
.float-top {
    position: fixed;
    /* width:60px; */
    /* height:60px; */
    padding: 7px 13px;
    top: 40px;
    right: 20px;
    background-color: #25d366;
    color: #fff !important;
    border-radius: 15px;
    text-align: center;
    z-index: 9;
}
/* Mobile screen styling  */

.mobilesidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.mobilesidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.mobilesidenav a:hover {
    color: #f26522;
}

.mobilesidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.mobile_nav {
    display: none;
}
.logo .menu-link {
    display: none;
}
.banner_taital {
    font-size: 45px;
    text-shadow: #000 1px 1px;
}

/*  social links */
.facebook-btn {
    background: #3b5998;
    padding: 5px 10px;
}
.youtube-btn {
    background: #cd201f;
    padding: 5px 10px;
}
.instagram-btn {
    background: #f09433;
    background: -moz-linear-gradient(
        45deg,
        #f09433 0%,
        #e6683c 25%,
        #dc2743 50%,
        #cc2366 75%,
        #bc1888 100%
    );
    background: -webkit-linear-gradient(
        45deg,
        #f09433 0%,
        #e6683c 25%,
        #dc2743 50%,
        #cc2366 75%,
        #bc1888 100%
    );
    background: linear-gradient(
        45deg,
        #f09433 0%,
        #e6683c 25%,
        #dc2743 50%,
        #cc2366 75%,
        #bc1888 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    padding: 5px 10px;
}
.social li a:hover {
    color: #f1f1f1;
}
/* intentionaly applieed on height  */
@media screen and (max-height: 450px) {
    .mobilesidenav {
        padding-top: 15px;
    }
    .mobilesidenav a {
        font-size: 18px;
    }
}

@media screen and (max-width: 767px) {
    .mobilesidenav {
        z-index: 99;
    }
    .mobile_nav {
        display: block;
    }
    .sidenav {
        display: none;
    }
    .containt_main .toggle_icon {
        display: none;
    }
    .logo .home-link {
        display: none;
    }
    .logo .menu-link {
        display: block;
    }
    .banner_taital {
        font-size: 14px;
        text-shadow: #000 1px 1px;
    }
    .fashion_taital {
        margin-top: 1.5rem !important;
        padding: 0;
        /* font-weight: lighter; */
        letter-spacing: 10px;
    }
    .header_section{
        margin-bottom: 1rem;
    }
    .banner_section.layout_padding{
        display: none;
    }
    .social li {
        float: left;
    }
    .social ul {
        margin-bottom: 1rem;
    }
}
